[class^="freeicon-"],[class*=" freeicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background: url('../fonts/glyphicons-free.png') no-repeat;
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
[class^="glyphicon-"]:last-child,[class*=" freeicon-"]:last-child {
    *margin-left:0;
}
.freeicon-glass { background-position: 0 0 }
.freeicon-leaf { background-position: -34px 0 }
.freeicon-dog { background-position: -68px 0 }
.freeicon-user { background-position: -102px 0 }
.freeicon-girl { background-position: -136px 0 }
.freeicon-car { background-position: -170px 0 }
.freeicon-user-add { background-position: -204px 0 }
.freeicon-user-remove { background-position: -238px 0 }
.freeicon-film { background-position: -272px 0 }
.freeicon-magic { background-position: -306px 0 }
.freeicon-envelope { background-position: -340px 0 }
.freeicon-camera { background-position: -374px 0 }
.freeicon-heart { background-position: -408px 0 }
.freeicon-beach-umbrella { background-position: -442px 0 }
.freeicon-train { background-position: -476px 0 }
.freeicon-print { background-position: -510px 0 }
.freeicon-bin { background-position: -544px 0 }
.freeicon-music { background-position: -578px 0 }
.freeicon-note { background-position: -612px 0 }
.freeicon-cogwheel { background-position: -646px 0 }
.freeicon-home { background-position: -680px 0 }
.freeicon-snowflake { background-position: -714px 0 }
.freeicon-fire { background-position: -748px 0 }
.freeicon-cogwheels { background-position: -782px 0 }
.freeicon-parents { background-position: -816px 0 }
.freeicon-binoculars { background-position: -850px 0 }
.freeicon-road { background-position: -884px 0 }
.freeicon-search { background-position: -918px 0 }
.freeicon-cars { background-position: -952px 0 }
.freeicon-notes-2 { background-position: -986px 0 }
.freeicon-pencil { background-position: -1020px 0 }
.freeicon-bus { background-position: -1054px 0 }
.freeicon-wifi-alt { background-position: -1088px 0 }
.freeicon-luggage { background-position: -1122px 0 }
.freeicon-old-man { background-position: -1156px 0 }
.freeicon-woman { background-position: -1190px 0 }
.freeicon-file { background-position: -1224px 0 }
.freeicon-credit { background-position: -1258px 0 }
.freeicon-airplane { background-position: -1292px 0 }
.freeicon-notes { background-position: -1326px 0 }
.freeicon-stats { background-position: -1360px 0 }
.freeicon-charts { background-position: -1394px 0 }
.freeicon-pie-chart { background-position: -1428px 0 }
.freeicon-group { background-position: -1462px 0 }
.freeicon-keys { background-position: -1496px 0 }
.freeicon-calendar { background-position: -1530px 0 }
.freeicon-router { background-position: -1564px 0 }
.freeicon-camera-small { background-position: -1598px 0 }
.freeicon-dislikes { background-position: -1632px 0 }
.freeicon-star { background-position: -1666px 0 }
.freeicon-link { background-position: -1700px 0 }
.freeicon-eye-open { background-position: -1734px 0 }
.freeicon-eye-close { background-position: -1768px 0 }
.freeicon-alarm { background-position: -1802px 0 }
.freeicon-clock { background-position: -1836px 0 }
.freeicon-stopwatch { background-position: -1870px 0 }
.freeicon-projector { background-position: -1904px 0 }
.freeicon-history { background-position: -1938px 0 }
.freeicon-truck { background-position: -1972px 0 }
.freeicon-cargo { background-position: 0 -34px }
.freeicon-compass { background-position: -34px -34px }
.freeicon-keynote { background-position: -68px -34px }
.freeicon-attach { background-position: -102px -34px }
.freeicon-power { background-position: -136px -34px }
.freeicon-lightbulb { background-position: -170px -34px }
.freeicon-tag { background-position: -204px -34px }
.freeicon-tags { background-position: -238px -34px }
.freeicon-cleaning { background-position: -272px -34px }
.freeicon-ruller { background-position: -306px -34px }
.freeicon-gift { background-position: -340px -34px }
.freeicon-umbrella { background-position: -374px -34px }
.freeicon-book { background-position: -408px -34px }
.freeicon-bookmark { background-position: -442px -34px }
.freeicon-signal { background-position: -476px -34px }
.freeicon-cup { background-position: -510px -34px }
.freeicon-stroller { background-position: -544px -34px }
.freeicon-headphones { background-position: -578px -34px }
.freeicon-headset { background-position: -612px -34px }
.freeicon-warning-sign { background-position: -646px -34px }
.freeicon-signal { background-position: -680px -34px }
.freeicon-retweet { background-position: -714px -34px }
.freeicon-refresh { background-position: -748px -34px }
.freeicon-roundabout { background-position: -782px -34px }
.freeicon-random { background-position: -816px -34px }
.freeicon-heat { background-position: -850px -34px }
.freeicon-repeat { background-position: -884px -34px }
.freeicon-display { background-position: -918px -34px }
.freeicon-log-book { background-position: -952px -34px }
.freeicon-adress-book { background-position: -986px -34px }
.freeicon-magnet { background-position: -1020px -34px }
.freeicon-table { background-position: -1054px -34px }
.freeicon-adjust { background-position: -1088px -34px }
.freeicon-tint { background-position: -1122px -34px }
.freeicon-crop { background-position: -1156px -34px }
.freeicon-vector-path-square { background-position: -1190px -34px }
.freeicon-vector-path-circle { background-position: -1224px -34px }
.freeicon-vector-path-polygon { background-position: -1258px -34px }
.freeicon-vector-path-line { background-position: -1292px -34px }
.freeicon-vector-path-curve { background-position: -1326px -34px }
.freeicon-vector-path-all { background-position: -1360px -34px }
.freeicon-font { background-position: -1394px -34px }
.freeicon-italic { background-position: -1428px -34px }
.freeicon-bold { background-position: -1462px -34px }
.freeicon-text-underline { background-position: -1496px -34px }
.freeicon-text-strike { background-position: -1530px -34px }
.freeicon-text-height { background-position: -1564px -34px }
.freeicon-text-width { background-position: -1598px -34px }
.freeicon-text-resize { background-position: -1632px -34px }
.freeicon-left-indent { background-position: -1666px -34px }
.freeicon-right-indent { background-position: -1700px -34px }
.freeicon-align-left { background-position: -1734px -34px }
.freeicon-align-center { background-position: -1768px -34px }
.freeicon-align-right { background-position: -1802px -34px }
.freeicon-justify { background-position: -1836px -34px }
.freeicon-list { background-position: -1870px -34px }
.freeicon-text-smaller { background-position: -1904px -34px }
.freeicon-text-bigger { background-position: -1938px -34px }
.freeicon-embed { background-position: -1972px -34px }
.freeicon-embed-close { background-position: 0 -68px }
.freeicon-adjust { background-position: -34px -68px }
.freeicon-message-full { background-position: -68px -68px }
.freeicon-message-empty { background-position: -102px -68px }
.freeicon-message-in { background-position: -136px -68px }
.freeicon-message-out { background-position: -170px -68px }
.freeicon-message-plus { background-position: -204px -68px }
.freeicon-message-minus { background-position: -238px -68px }
.freeicon-message-ban { background-position: -272px -68px }
.freeicon-message-flag { background-position: -306px -68px }
.freeicon-message-lock { background-position: -340px -68px }
.freeicon-message-new { background-position: -374px -68px }
.freeicon-inbox { background-position: -408px -68px }
.freeicon-inbox-plus { background-position: -442px -68px }
.freeicon-inbox-minus { background-position: -476px -68px }
.freeicon-inbox-lock { background-position: -510px -68px }
.freeicon-inbox-in { background-position: -544px -68px }
.freeicon-inbox-out { background-position: -578px -68px }
.freeicon-computer-locked { background-position: -612px -68px }
.freeicon-computer-service { background-position: -646px -68px }
.freeicon-computer-proces { background-position: -680px -68px }
.freeicon-phone { background-position: -714px -68px }
.freeicon-database-lock { background-position: -748px -68px }
.freeicon-database-plus { background-position: -782px -68px }
.freeicon-database-minus { background-position: -816px -68px }
.freeicon-database-ban { background-position: -850px -68px }
.freeicon-folder-open { background-position: -884px -68px }
.freeicon-folder-plus { background-position: -918px -68px }
.freeicon-folder-minus { background-position: -952px -68px }
.freeicon-folder-lock { background-position: -986px -68px }
.freeicon-folder-flag { background-position: -1020px -68px }
.freeicon-folder-new { background-position: -1054px -68px }
.freeicon-check { background-position: -1088px -68px }
.freeicon-edit { background-position: -1122px -68px }
.freeicon-new-window { background-position: -1156px -68px }
.freeicon-more-windows { background-position: -1190px -68px }
.freeicon-show-big-thumbnails { background-position: -1224px -68px }
.freeicon-show-thumbnails { background-position: -1258px -68px }
.freeicon-show-thumbnails-with-lines { background-position: -1292px -68px }
.freeicon-show-lines { background-position: -1326px -68px }
.freeicon-playlist { background-position: -1360px -68px }
.freeicon-picture { background-position: -1394px -68px }
.freeicon-imac { background-position: -1428px -68px }
.freeicon-macbook { background-position: -1462px -68px }
.freeicon-ipad { background-position: -1496px -68px }
.freeicon-iphone { background-position: -1530px -68px }
.freeicon-iphone-transfer { background-position: -1564px -68px }
.freeicon-iphone-exchange { background-position: -1598px -68px }
.freeicon-ipod { background-position: -1632px -68px }
.freeicon-ipod-shuffle { background-position: -1666px -68px }
.freeicon-ear-plugs { background-position: -1700px -68px }
.freeicon-albums { background-position: -1734px -68px }
.freeicon-step-backward { background-position: -1768px -68px }
.freeicon-fast-backward { background-position: -1802px -68px }
.freeicon-rewind { background-position: -1836px -68px }
.freeicon-play { background-position: -1870px -68px }
.freeicon-pause { background-position: -1904px -68px }
.freeicon-stop { background-position: -1938px -68px }
.freeicon-forward { background-position: -1972px -68px }
.freeicon-fast-forward { background-position: 0 -102px }
.freeicon-step-forward { background-position: -34px -102px }
.freeicon-eject { background-position: -68px -102px }
.freeicon-facetime-video { background-position: -102px -102px }
.freeicon-download-alt { background-position: -136px -102px }
.freeicon-mute { background-position: -170px -102px }
.freeicon-volume-down { background-position: -204px -102px }
.freeicon-volume-up { background-position: -238px -102px }
.freeicon-screenshot { background-position: -272px -102px }
.freeicon-move { background-position: -306px -102px }
.freeicon-more { background-position: -340px -102px }
.freeicon-brightness-reduce { background-position: -374px -102px }
.freeicon-brightness-increase { background-position: -408px -102px }
.freeicon-circle-plus { background-position: -442px -102px }
.freeicon-circle-minus { background-position: -476px -102px }
.freeicon-circle-remove { background-position: -510px -102px }
.freeicon-circle-ok { background-position: -544px -102px }
.freeicon-circle-question-mark { background-position: -578px -102px }
.freeicon-circle-info { background-position: -612px -102px }
.freeicon-circle-exclamation-mark { background-position: -646px -102px }
.freeicon-remove { background-position: -680px -102px }
.freeicon-ok { background-position: -714px -102px }
.freeicon-ban { background-position: -748px -102px }
.freeicon-download { background-position: -782px -102px }
.freeicon-upload { background-position: -816px -102px }
.freeicon-shopping-cart { background-position: -850px -102px }
.freeicon-lock { background-position: -884px -102px }
.freeicon-unlock { background-position: -918px -102px }
.freeicon-electricity { background-position: -952px -102px }
.freeicon-ok-2 { background-position: -986px -102px }
.freeicon-remove-2 { background-position: -1020px -102px }
.freeicon-cart-out { background-position: -1054px -102px }
.freeicon-cart-in { background-position: -1088px -102px }
.freeicon-left-arrow { background-position: -1122px -102px }
.freeicon-right-arrow { background-position: -1156px -102px }
.freeicon-down-arrow { background-position: -1190px -102px }
.freeicon-up-arrow { background-position: -1224px -102px }
.freeicon-resize-small { background-position: -1258px -102px }
.freeicon-resize-full { background-position: -1292px -102px }
.freeicon-circle-arrow-left { background-position: -1326px -102px }
.freeicon-circle-arrow-right { background-position: -1360px -102px }
.freeicon-circle-arrow-top { background-position: -1394px -102px }
.freeicon-circle-arrow-down { background-position: -1428px -102px }
.freeicon-play-button { background-position: -1462px -102px }
.freeicon-unshare { background-position: -1496px -102px }
.freeicon-share { background-position: -1530px -102px }
.freeicon-thin-right-arrow { background-position: -1564px -102px }
.freeicon-thin-arrow-left { background-position: -1598px -102px }
.freeicon-bluetooth { background-position: -1632px -102px }
.freeicon-euro { background-position: -1666px -102px }
.freeicon-usd { background-position: -1700px -102px }
.freeicon-bp { background-position: -1734px -102px }
.freeicon-retweet-2 { background-position: -1768px -102px }
.freeicon-moon { background-position: -1802px -102px }
.freeicon-sun { background-position: -1836px -102px }
.freeicon-cloud { background-position: -1870px -102px }
.freeicon-direction { background-position: -1904px -102px }
.freeicon-brush { background-position: -1938px -102px }
.freeicon-pen { background-position: -1972px -102px }
.freeicon-zoom-in { background-position: 0 -136px }
.freeicon-zoom-out { background-position: -34px -136px }
.freeicon-pin { background-position: -68px -136px }
.freeicon-riflescope { background-position: -102px -136px }
.freeicon-rotation-lock { background-position: -136px -136px }
.freeicon-flash { background-position: -170px -136px }
.freeicon-google-maps { background-position: -204px -136px }
.freeicon-anchor { background-position: -238px -136px }
.freeicon-conversation { background-position: -272px -136px }
.freeicon-chat { background-position: -306px -136px }
.freeicon-male { background-position: -340px -136px }
.freeicon-female { background-position: -374px -136px }
.freeicon-asterisk { background-position: -408px -136px }
.freeicon-divide { background-position: -442px -136px }
.freeicon-snorkel-diving { background-position: -476px -136px }
.freeicon-scuba-diving { background-position: -510px -136px }
.freeicon-oxygen-bottle { background-position: -544px -136px }
.freeicon-fins { background-position: -578px -136px }
.freeicon-fishes { background-position: -612px -136px }
.freeicon-boat { background-position: -646px -136px }
.freeicon-delete-point { background-position: -680px -136px }
.freeicon-sheriffs--star { background-position: -714px -136px }
.freeicon-qrcode { background-position: -748px -136px }
.freeicon-barcode { background-position: -782px -136px }
.freeicon-pool { background-position: -816px -136px }
.freeicon-buoy { background-position: -850px -136px }
.freeicon-spade { background-position: -884px -136px }
.freeicon-bank { background-position: -918px -136px }
.freeicon-vcard { background-position: -952px -136px }
.freeicon-electrical-plug { background-position: -986px -136px }
.freeicon-flag { background-position: -1020px -136px }
.freeicon-credit-card { background-position: -1054px -136px }
.freeicon-keyboard-wireless { background-position: -1088px -136px }
.freeicon-keyboard-wired { background-position: -1122px -136px }
.freeicon-shield { background-position: -1156px -136px }
.freeicon-ring { background-position: -1190px -136px }
.freeicon-cake { background-position: -1224px -136px }
.freeicon-drink { background-position: -1258px -136px }
.freeicon-beer { background-position: -1292px -136px }
.freeicon-fast-food { background-position: -1326px -136px }
.freeicon-cutlery { background-position: -1360px -136px }
.freeicon-pizza { background-position: -1394px -136px }
.freeicon-birthday-cake { background-position: -1428px -136px }
.freeicon-tablet { background-position: -1462px -136px }
.freeicon-settings { background-position: -1496px -136px }
.freeicon-bullets { background-position: -1530px -136px }
.freeicon-cardio { background-position: -1564px -136px }
.freeicon-t-shirt { background-position: -1598px -136px }
.freeicon-pants { background-position: -1632px -136px }
.freeicon-sweater { background-position: -1666px -136px }
.freeicon-fabric { background-position: -1700px -136px }
.freeicon-leather { background-position: -1734px -136px }
.freeicon-scissors { background-position: -1768px -136px }
.freeicon-podium { background-position: -1802px -136px }
.freeicon-skull { background-position: -1836px -136px }
.freeicon-celebration { background-position: -1870px -136px }
.freeicon-tea-kettle { background-position: -1904px -136px }
.freeicon-french-press { background-position: -1938px -136px }
.freeicon-coffe-cup { background-position: -1972px -136px }
.freeicon-pot { background-position: 0 -170px }
.freeicon-grater { background-position: -34px -170px }
.freeicon-kettle { background-position: -68px -170px }
.freeicon-hospital { background-position: -102px -170px }
.freeicon-hospital-h { background-position: -136px -170px }
.freeicon-microphone { background-position: -170px -170px }
.freeicon-webcam { background-position: -204px -170px }
.freeicon-temple-christianity-church { background-position: -238px -170px }
.freeicon-temple-islam { background-position: -272px -170px }
.freeicon-temple-hindu { background-position: -306px -170px }
.freeicon-temple-buddhist { background-position: -340px -170px }
.freeicon-electrical-socket-eu { background-position: -374px -170px }
.freeicon-electrical-socket-us { background-position: -408px -170px }
.freeicon-bomb { background-position: -442px -170px }
.freeicon-comments { background-position: -476px -170px }
.freeicon-flower { background-position: -510px -170px }
.freeicon-baseball { background-position: -544px -170px }
.freeicon-rugby { background-position: -578px -170px }
.freeicon-ax { background-position: -612px -170px }
.freeicon-table-tennis { background-position: -646px -170px }
.freeicon-bowling { background-position: -680px -170px }
.freeicon-tree-conifer { background-position: -714px -170px }
.freeicon-tree-deciduous { background-position: -748px -170px }
.freeicon-more-items { background-position: -782px -170px }
.freeicon-sort { background-position: -816px -170px }
.freeicon-filter { background-position: -850px -170px }
.freeicon-gamepad { background-position: -884px -170px }
.freeicon-playing-dices { background-position: -918px -170px }
.freeicon-calculator { background-position: -952px -170px }
.freeicon-tie { background-position: -986px -170px }
.freeicon-wallet { background-position: -1020px -170px }
.freeicon-share { background-position: -1054px -170px }
.freeicon-sampler { background-position: -1088px -170px }
.freeicon-piano { background-position: -1122px -170px }
.freeicon-web-browser { background-position: -1156px -170px }
.freeicon-blog { background-position: -1190px -170px }
.freeicon-dashboard { background-position: -1224px -170px }
.freeicon-certificate { background-position: -1258px -170px }
.freeicon-bell { background-position: -1292px -170px }
.freeicon-candle { background-position: -1326px -170px }
.freeicon-pin-classic { background-position: -1360px -170px }
.freeicon-iphone-shake { background-position: -1394px -170px }
.freeicon-pin-flag { background-position: -1428px -170px }
.freeicon-turtle { background-position: -1462px -170px }
.freeicon-rabbit { background-position: -1496px -170px }
.freeicon-globe { background-position: -1530px -170px }
.freeicon-briefcase { background-position: -1564px -170px }
.freeicon-hdd { background-position: -1598px -170px }
.freeicon-thumbs-up { background-position: -1632px -170px }
.freeicon-thumbs-down { background-position: -1666px -170px }
.freeicon-hand-right { background-position: -1700px -170px }
.freeicon-hand-left { background-position: -1734px -170px }
.freeicon-hand-up { background-position: -1768px -170px }
.freeicon-hand-down { background-position: -1802px -170px }
.freeicon-fullscreen { background-position: -1836px -170px }
.freeicon-shopping-bag { background-position: -1870px -170px }
.freeicon-book-open { background-position: -1904px -170px }
.freeicon-nameplate { background-position: -1938px -170px }
.freeicon-nameplate-alt { background-position: -1972px -170px }
.freeicon-vases { background-position: 0 -204px }
.freeicon-announcement { background-position: -34px -204px }
.freeicon-dumbbell { background-position: -68px -204px }
.freeicon-suitcase { background-position: -102px -204px }
.freeicon-file-import { background-position: -136px -204px }
.freeicon-file-export { background-position: -170px -204px }
.freeicon-pinterest { background-position: -204px -204px }
.freeicon-dropbox { background-position: -238px -204px }
.freeicon-google-alt { background-position: -272px -204px }
.freeicon-jolicloud { background-position: -306px -204px }
.freeicon-yahoo { background-position: -340px -204px }
.freeicon-blogger { background-position: -374px -204px }
.freeicon-picasa { background-position: -408px -204px }
.freeicon-amazon { background-position: -442px -204px }
.freeicon-tumblr { background-position: -476px -204px }
.freeicon-wordpress { background-position: -510px -204px }
.freeicon-instapaper { background-position: -544px -204px }
.freeicon-evernote { background-position: -578px -204px }
.freeicon-xing { background-position: -612px -204px }
.freeicon-zootool { background-position: -646px -204px }
.freeicon-dribbble { background-position: -680px -204px }
.freeicon-deviantart { background-position: -714px -204px }
.freeicon-read-it-later { background-position: -748px -204px }
.freeicon-linked-in { background-position: -782px -204px }
.freeicon-forrst { background-position: -816px -204px }
.freeicon-pinboard { background-position: -850px -204px }
.freeicon-behance { background-position: -884px -204px }
.freeicon-github { background-position: -918px -204px }
.freeicon-youtube { background-position: -952px -204px }
.freeicon-skitch { background-position: -986px -204px }
.freeicon-4square { background-position: -1020px -204px }
.freeicon-quora { background-position: -1054px -204px }
.freeicon-google-plus { background-position: -1088px -204px }
.freeicon-spootify { background-position: -1122px -204px }
.freeicon-stumbleupon { background-position: -1156px -204px }
.freeicon-readability { background-position: -1190px -204px }
.freeicon-facebook { background-position: -1224px -204px }
.freeicon-twitter-t { background-position: -1258px -204px }
.freeicon-twitter { background-position: -1292px -204px }
.freeicon-buzz { background-position: -1326px -204px }
.freeicon-vimeo { background-position: -1360px -204px }
.freeicon-flickr { background-position: -1394px -204px }
.freeicon-last-fm { background-position: -1428px -204px }
.freeicon-rss { background-position: -1462px -204px }
.freeicon-skype { background-position: -1496px -204px }
.freeicon-e-mail { background-position: -1530px -204px }
